html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
}

$heading-size: (
    h1: $size-8,
    h2: $size-7,
    h3: $size-6
) !default;

@each $heading, $size in $heading-size {
    #{$heading} {
        font-family: $heading-font-family;
        font-size: $size;

        @media (min-width: map-get($grid-breakpoints, 'sm')) {
            font-size: $size + $size-1;
        }
    }
}