// Size
//===============================
$base-size: 4px !default;

$size-1: $base-size;
$size-2: $base-size * 2;
$size-3: $base-size * 3;
$size-4: $base-size * 4;
$size-5: $base-size * 5;
$size-6: $base-size * 6;
$size-7: $base-size * 7;
$size-8: $base-size * 8;
$size-9: $base-size * 9;
$size-10: $base-size * 10;
$size-11: $base-size * 11;
$size-12: $base-size * 12;
$size-13: $base-size * 13;
$size-14: $base-size * 14;
$size-15: $base-size * 15;
$size-16: $base-size * 16;

// Colors
//===============================
$primary:   #2196f3 !default;
$secondary: #fdd835 !default;
$dark:      #424242 !default;
$light:     #FFFFFF !default;
$gray-100:  #F8F8F8 !default;
$gray-200:  #E0E0E0 !default;
$gray-300:  #9E9E9E !default;

// Fonts
//===============================
$heading-font-family: var(--heading-font), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;
$base-font-family:    var(--font), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;

// Tiers
//===============================
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;