@import "variables";

.navigator {
    .navigator__header {
        background: $primary;
        color: $light;
        border-radius: $size-1 $size-1 0 0;
        padding: $size-1;

        & > * {
            margin: 0;
            text-align: center;
        }
    }

    .navigator__list {
        background: $gray-100;
        padding: $size-2 0;
        border-bottom: $primary $size-1 solid;
        border-radius: 0 0 $size-1 $size-1;

        .navigator__list-item {
            font-size: smaller;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: $size-2 $size-4;
            text-align: left;

            &--indent {
                margin-left: $size-4;
            }

            & a {
                color: $dark;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}