@import "variables";

$title-size: $size-10;
$description-size: $size-8;
$gutter-size: $size-2;

$logo-width: 393px;
$logo-height: 454px;

.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $size-12;

  .intro__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    @media (min-width: map-get($grid-breakpoints, 'sm')) {
      flex: 1;
    }

    &--right {
      align-items: flex-end;
    }

    &--left {
      align-items: flex-start;
    }

    .intro__profile {
      border-radius: 0;
      margin: $gutter-size 0;

      @media (min-width: map-get($grid-breakpoints, 'sm')) {
        height: 30vh;
      }
    }

    .intro__text {
      display: flex;
      flex-direction: column;

      .intro__title {
        color: $dark;
        font-size: $title-size;
        font-family: $heading-font-family;
        line-height: $description-size;
        margin: 0;
      }

      .intro__description {
        font-family: $base-font-family;
        color: $gray-300;
        font-size: $description-size;
        font-weight: 100;
        margin: 0;
        padding: 0 $size-1;
      }
    }
  }
}

.featured {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      display: flex;
    }

    .card {
      border-radius: $size-1;
      color: $dark;
      padding: $size-4;
      margin: $size-4 0;
      box-shadow: 0 $size-1/2 $size-2 rgba(0, 0, 0, 0.18);
      background: $gray-100;

      .card__icon {
        font-size: $size-14;
        font-style: normal;
      }

      .card_title {
        margin: $size-1
      }

      .card_description {
        color: $gray-300;
      }

      .card_description,
      .card__read-more {
        font-weight: 100;
      }
    }

  }
}

@media (min-width: map-get($grid-breakpoints, 'sm')) {
  .intro {
    .intro__row {
      margin: $gutter-size;
      width: unset;

      .intro__text {
        align-items: flex-start;
      }
    }
  }
}