@import "variables";

.toc {
  ul {
    padding: 0;

    li {
      list-style-type: none;
      padding: 0 $size-4;
    }
  }
  
  & > nav > ul {
    background: $gray-100;

    & > li {
      border-left: $gray-200 solid $size-1;
      padding: $size-2 $size-4;

      a {
        font-weight: 100;
        color: $gray-300;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}