---
---

@import "{{ site.theme }}";

#header_wrap {
  nav.quick_links {
    background: lightgrey;
    padding: 10px 30px 10px;

    div.inner {
      max-width: 640px;
      position: relative;
      margin: 0 auto;
      padding: 0;

      span.quick_link {
        display: inline-block;
        margin: 0 10px;

        & > a {
          text-transform: uppercase;
          font-weight: 500;
          color: #555;

          &:hover {
            font-weight: 500;
            color: #373737;
          }
        }
      }
    }
  }
}
